@model Nop.Web.Models.InvoiceSell

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceSell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billTypeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billTypeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billTypeSubNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billTypeSubNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.storeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.storeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.aName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.aName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deliveryDateH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveryDateH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDelivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDelivered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deliveredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deliveredDateH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveredDateH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isOutDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isOutDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceJobStatusNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceJobStatusNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceStatusNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceStatusNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shipType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shipType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shipCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shipCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shipTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shipTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billToTypeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billToTypeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billToBuildingNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billToBuildingNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isInventory1GaveIt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isInventory1GaveIt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.inventory1StaffNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.inventory1StaffNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isInventory2ReceivedIt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isInventory2ReceivedIt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.inventory2StaffNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.inventory2StaffNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.depositNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.depositNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.itemStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.itemStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPostedStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPostedStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isVoid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isVoid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isGLPosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isGLPosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPayments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPayments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isFastInvoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isFastInvoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDeposited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDeposited)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCleared)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCleared)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountLeftAfterAllBills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountLeftAfterAllBills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.collectedAmountFromOtherBills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.collectedAmountFromOtherBills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isItemOrUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isItemOrUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personNo2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personNo2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.carNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.carNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.driverNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.driverNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.driverName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.driverName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isUseInOutInvoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isUseInOutInvoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.regionNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.regionNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isAccountingForOthers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isAccountingForOthers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accountNo_Pay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accountNo_Pay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accountNo_Ship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accountNo_Ship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accountNo_Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accountNo_Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name_Pay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name_Pay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name_Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name_Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name_Ship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name_Ship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.projectNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projectNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accountNo_Second)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accountNo_Second)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.agentNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.agentNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payBillNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.payBillNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.manPosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.manPosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.manGLPosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.manGLPosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.manVoid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.manVoid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sumPayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sumPayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subTotalDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subTotalDiscount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subNetTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subNetTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subNetTotalPlusTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subNetTotalPlusTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subLeftQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subLeftQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountCalculated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountCalculated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.totalDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalDiscount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed01)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed01)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed02)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed02)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed03)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed03)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed04)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed04)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed05)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed05)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountCalculatedPayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountCalculatedPayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.requestShipDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.requestShipDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paymentTermsId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paymentTermsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pricingSchemeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pricingSchemeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pickedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pickedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.packedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.packedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxingSchemeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxingSchemeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate1_Percentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate1_Percentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate2_Percentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate2_Percentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCalculateTax2OnTax1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCalculateTax2OnTax1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate1eName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate1eName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate2eName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate2eName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isTax1OnShipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isTax1OnShipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isTax2OnShipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isTax2OnShipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate1aName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate1aName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate2aName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate2aName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRateNo2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRateNo2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate1_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate1_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRate2_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRate2_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isOneInvoiceUploaded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isOneInvoiceUploaded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxRateNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxRateNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cashRegisterNo_BuildingNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cashRegisterNo_BuildingNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceVATID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceVATID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.clientVendorNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.clientVendorNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isUploadedToMainBranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isUploadedToMainBranch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPostedToTransactions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPostedToTransactions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_PerDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_PerDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_PerMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_PerMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_PerYearQuarter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_PerYearQuarter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_PerYearHalf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_PerYearHalf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_PerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_PerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATTypeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATTypeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATGroupNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATGroupNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.profitMarginTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.profitMarginTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_Posted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_Posted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateG_GLPosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateG_GLPosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mainContact1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mainContact1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mainContact2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mainContact2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mainContact3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mainContact3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed01_VoucherNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed01_VoucherNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed02_VoucherNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed02_VoucherNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed03_VoucherNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed03_VoucherNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed04_VoucherNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed04_VoucherNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed05_VoucherNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed05_VoucherNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed01_bankAccountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed01_bankAccountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed02_bankAccountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed02_bankAccountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed03_bankAccountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed03_bankAccountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed04_bankAccountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed04_bankAccountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed05_bankAccountNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed05_bankAccountNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customerCashGiven)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customerCashGiven)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customerCashReturned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customerCashReturned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price_differenceFromFirstPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price_differenceFromFirstPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.print_numOfCopies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.print_numOfCopies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.print_DateG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.print_DateG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leftMoneyPaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leftMoneyPaymentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.normalCustomerTypeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.normalCustomerTypeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPrintPartial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPrintPartial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cardAmount_Visa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cardAmount_Visa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cardAmount_SPAN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cardAmount_SPAN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dailyBillNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dailyBillNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.runningCostAvg_diffrenceWhithPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.runningCostAvg_diffrenceWhithPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.profitMarginTotal_fromAvgCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.profitMarginTotal_fromAvgCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.runningCostAvgTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.runningCostAvgTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyPrice_costPriceTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyPrice_costPriceTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.primaryUnit_QuantityTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.primaryUnit_QuantityTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paperBillNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paperBillNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gazElectric_InNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gazElectric_InNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztElectric_OutNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztElectric_OutNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isReturnedFullyByReturnInvoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isReturnedFullyByReturnInvoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isReturnedFullyByReturnInvoiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isReturnedFullyByReturnInvoiceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weightTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weightTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.staffNo1_personNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.staffNo1_personNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.staffNo2_personNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.staffNo2_personNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.staffNo3_personNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.staffNo3_personNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.exportImportType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.exportImportType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billCreatorAsOf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billCreatorAsOf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDCard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDCard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.billPaperType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.billPaperType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paymentTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paymentTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subNetTotal_ExecludingTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subNetTotal_ExecludingTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_mileage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_mileage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_makerNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_makerNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_plate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_plate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_serial_1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_serial_1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_serial_2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_serial_2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_next_mileage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_next_mileage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_next_serviceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_next_serviceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_next_serviceDateH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_next_serviceDateH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device_makeYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device_makeYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inv_billTypeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inv_billTypeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inv_buildingNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inv_buildingNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inv_invoiceNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inv_invoiceNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inv_userNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inv_userNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.calculatedPayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.calculatedPayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amountPayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amountPayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.calculatedCreditAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.calculatedCreditAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.calculatedDebitAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.calculatedDebitAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCreateGlass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCreateGlass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rentReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rentReturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rentQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rentQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isHangerOrFold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isHangerOrFold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isSpot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isSpot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isFastCleaning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isFastCleaning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.starchNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.starchNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.blueWeightNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.blueWeightNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isLost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isLost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPaperInvoiceReturned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPaperInvoiceReturned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.spoilTypeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.spoilTypeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.trainingHourseToBeGiven)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.trainingHourseToBeGiven)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.trainingHourseLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.trainingHourseLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztInvoiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztInvoiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztUniqueInvoiceIdentifier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztUniqueInvoiceIdentifier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztInvoiceTypeCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztInvoiceTypeCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztInvoiceTypeCode_SubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztInvoiceTypeCode_SubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztLatestDeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztLatestDeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztInvoiceHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztInvoiceHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gaztPreviousInvoiceHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gaztPreviousInvoiceHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.row_timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.row_timestamp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
